body {
	margin: 0;
}
#log .log-line {
	border-bottom: 1px solid #666;
	font-family: monospace;
	font-size: 13px;
	padding: 2px;
	color: #333;
	cursor: pointer;
}

#log .log-line.add-bg {
	background: #f3f3f3;
}

#log .log-line:hover {
	background: #d8d0d0;
}

#log .log-line .response-method {
	display: none;
}

#header {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	padding: 5px;
	align-items: center;
	border-bottom: 2px solid #ccc;
	background: #f9f9f9;
}

#header .title {
	font-weight: bold;
}

#clear {
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
